{% extends 'base.html'%}
{% block title %}Message Details{% endblock %}
{% block content %} 

<div></div>


<div>
    <div>
        <ul>
            <li>
                <a href="{{url for ('users_show', user_id=message.user.id) }}">
                    <img src="{{message.user.image_url}}" alt="">
                </a>
                <div>
                    <div>
                        <a href="/users/{{message.user.id}}">@{{message.user.username}}</a>
                        {% if g.user%} {% if g.user.id == message.user.id%}
                        <form method="POST" action="/messages/{{message.id/delete}}">
                            <button>Delete</button>
                        </form>
                        {% elif g.user.is_following(message.user)%}
                        <form action="/users/stop-following/{{message.user.id}}">
                            <button>Unfollow</button>
                        </form>
                        {%else%}
                        <form action="/users/follow/{{message.user.id}}">
                            <button>Follow</button>
                        </form>
                        {%endif%} {%endif%}
                    </div>
                    <p>{{message.text}}</p>
                    <span>{{message.timestamp.strftime('%d %B %Y')}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>


{%endblock%} 