{% extends 'base.html'%}
{% block title %}Login{% endblock %}
{% block body_class%} onboarding {%endblock%}
{% block content %}

<div>
    <div>
        <h2>Welcome back</h2>
        <form method="POST" action="">
            {{ form.hidden_tag()}}{% for field in form if field.widget.input_type != 'hidden'%}{%for field in form.errors%}
            <span>{{error}}</span>
            {%endfor%} {{ field(placeholder = field.label.text)}}  {%endfor%}
            <button>Log in</button>
        </form>
    </div>
</div>




{%endblock%}