{%extends 'user/details.html'%} {% block user_details%}


<div>
    <ul>
        {% for message in messages%}
        <li>
            <a href="/messages/{{message.id}}"></a>
            <a href="/users/{{user.id}}">
                <img src="{{user.image_url}}" alt="user image">
            </a>
            <div>
                <a href="/users/{{user.id}}">@{{user.username}}</a>
                <span>{{message.timestamp.strftime('%d %B %Y')}}</span>
                <p>{{message.text}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}